@import url('https://fonts.googleapis.com/css2?=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.icon{
 @apply active:text-activeColor pb-1 w-8 h-14 hover:text-activeColor text-iconFill
}

.nav{
 @apply rounded bg-lcColor m-auto p-2
}

.scroll{
 @apply inline-block w-full whitespace-nowrap space-x-4 overflow-x-scroll cursor-pointer 
}

.scroll::-webkit-scrollbar{
 display: none;
}

.longcard{
 @apply bg-lcColor my-2 py-4 px-2 lg:flex gap-3 w-full lg:w-96 rounded-xl text-textFill border border-activeColor inline-block
}

.bigcard{
 @apply rounded-xl bg-bigCard flex gap-3 w-full lg:w-3/5 h-96 p-10 py-40  text-textFill items-center font-quickSand overflow-hidden
}

.search{
 @apply w-full h-12 text-iconFill relative mb-8 mt-4 ml-8
}

.hits{
 @apply w-7 h-7 lg:w-12 lg:h-10 rounded-full absolute justify-center
}

.scrolltext{
 @apply py-3 text-2xl text-textFill
}

.collectionCard{
 @apply  relative cursor-pointer overflow-hidden w-full
}

.album{
 @apply  rounded-3xl h-56 w-56 mb-2 brightness-50 overflow-hidden object-cover block
}

.collectionCard:hover .album{
 transform: scale(1.2);
}

.collectionCard:hover .likes{
 display: block;
}