@import url('https://fonts.googleapis.com/css2?=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.albumdiv{
 @apply flex flex-col gap-3 text-textFill justify-end ml-3 mb-6
}

.button{
 @apply flex gap-2 px-2 items-center border-0 p-1 rounded-full bg-activeColor
}

.icon{
 @apply active:text-activeColor pb-1 w-8 h-14 hover:text-activeColor text-iconFill
}

.nav{
 @apply rounded bg-lcColor m-auto p-2
}

.scroll{
 @apply inline-block w-full whitespace-nowrap space-x-4 overflow-x-scroll cursor-pointer 
}

.scroll::-webkit-scrollbar{
 @apply hidden
}

.longcard{
 @apply bg-lcColor my-2 py-4 px-2 lg:flex lg:justify-between gap-3 w-full lg:w-96 rounded-xl text-textFill border border-activeColor inline-block relative
}

.bigcard{
 @apply rounded-xl bg-bigCard flex gap-3 w-full lg:w-5/6 h-96 p-10 py-40  text-textFill items-center font-quickSand overflow-hidden
}

.search{
 @apply w-full h-12 text-iconFill relative mb-8 mt-4 ml-8
}

.hits{
 @apply w-7 h-7 lg:w-12 lg:h-10 rounded-full absolute justify-center
}

.track{
 @apply flex gap-3 bg-lcColor p-2 text-textFill justify-between items-center cursor-pointer
}

.scrolltext{
 @apply py-3 text-2xl text-textFill
}

.collectionCard{
 @apply  relative cursor-pointer overflow-hidden w-full
}

.album{
 @apply  rounded-3xl h-56 w-56 mb-2 brightness-50 overflow-hidden object-cover block
}

.collectionCard:hover .album{
 transform: scale(1.2);
}

.collectionCard:hover .likes{
 @apply block
}

.player{
 @apply flex justify-around align-middle items-center backdrop-blur-md fixed w-screen bottom-0 z-50 -left-0 text-textFill h-24
}

.controls{
 @apply  flex justify-between gap-12 my-4 cursor-pointer
}

.control{
 @apply hover:scale-125 hover:text-bgColor
}

input[type=range] {
 height: 8px;
 -webkit-appearance: none;
 background-color: transparent;
}

input[type=range]:focus {
 @apply outline-0
}
input[type=range]::-webkit-slider-runnable-track {
 @apply w-full h-1 cursor-pointer bg-activeColor 
 
}
input[type=range]::-webkit-slider-thumb {
 display: none;
}